enabled:
  - bitcoin_price
  - tram_schedule
  - weather
  - rain_forecast
  - currently_playing
  - giphy_trending

widget_config:

  tram_schedule:
    station: 1
    max_results: 10
    remove_train_prefix: STR

  weather:
    api_key: YOUR_WEATHER_UNDERGROUND_API_KEY
    station_id: zmw:00000.10.10389
    lang: EN
    cache_duration: 300

  rain_forecast:
    federal_state: BER

  currently_playing:
    calendar:
      url: https://example.com/calendars/users/nyancat/calendar/
      username: nyancat
      password: tacnayn!!1

  giphy_trending:
    api_key: dc6zaTOxFJmzC # Giphy's public test key